<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
  <title><ui:insert name="title">Hello!</ui:insert></title>
  <link href= "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"></link>
</h:head>

<h:body>
<div id="content">
	<h:form>
		<label class="label">HOLA MUNDO <br>JAVA SERVER FACES - JSF</br> </label><br></br>
    	<img class="img-thumbnail" src="flor.jpg" height="200" width="200"></img><br></br>
    	
    	<label class="label">Escribe algún texto:</label>
    	<h:inputText id="name" class="form-control" value="#{someText}"></h:inputText>
    	<h:commandButton type="submit" value="Enviar" class="btn btn-info" action="postText"/>
    	<h:commandButton type="submit" value="Guardar" class="btn btn-success" action="#{archivo.crearArchivo(someText)}"/>
	</h:form>	
</div>

<div id="footer" class="footer">
  <ui:insert name="footer">
    	Examen - Maribel Barrea Tabares
  </ui:insert>
</div>
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
</style>
</h:body>

</html>
