<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
  <title><ui:insert name="title">Hello! Response</ui:insert></title>
  <link href= "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"></link>
</head>

<body>

<div id="content">
  <ui:insert name="content">
  <div class="container">  
  	<br></br>
  	<label class="label">HOLA #{someText}</label>  	
  </div> 
  </ui:insert>
</div>


</body>

</html>
